.imageList {
  width: 100%;
}

.imageListItem {
  cursor: pointer;
  margin-bottom: 1rem;
}

.imageHorizontal {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  aspect-ratio: 8 / 5;
}

.imageVertical {
  width: 70%;
  height: 70%;
  object-fit: cover !important;
  aspect-ratio: 3 / 4;
}

@media (max-width: 1400px) {
  .imageVertical {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    aspect-ratio: 3 / 4;
  }
}

.imageContainer {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  cursor: pointer;
}

.imageHorizontal,
.imageVertical {
  transition: filter 0.1s ease-in-out !important;
}
.imageListItem:hover .imageHorizontal,
.imageListItem:hover .imageVertical {
  filter: brightness(50%);
}

.captionContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.captionContainerMobile {
  text-align: center;
  margin-bottom: 2;
}

.caption.caption {
  font-size: 18;
  font-weight: 100;
  color: whitesmoke;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.captionMobile {
  font-size: 18;
  font-weight: 100;
}

.imageListItem:hover .caption {
  opacity: 1;
}
