.imageList {
  width: 100%;
}

.imageListItem {
  cursor: pointer;
  margin-bottom: 1rem;
}

.imageHorizontal {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  aspect-ratio: 8 / 5;
}

.imageVertical {
  width: 70%;
  height: 70%;
  object-fit: cover !important;
  aspect-ratio: 3 / 4;
}

@media (max-width: 1400px) {
  .imageVertical {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    aspect-ratio: 3 / 4;
  }
}

.imageContainer {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  cursor: pointer;
}
