.topBarMenuContainer {
  display: flex !important;
  align-items: center;
  min-width: 100%;
  min-height: 5rem;
  padding-right: 4rem !important;
  padding-left: 2rem !important;
  top: 0;
  z-index: 100;
  background-color: whitesmoke;
}

.menu {
  width: 3rem;
  z-index: 10;
}

.close {
  width: 3rem;
  z-index: 10;
  position: absolute;
  margin-bottom: 160%;

  cursor: pointer;

  animation-name: rotate360;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.closeDesktop {
  width: 3rem;
  z-index: 10;
  margin-top: 1rem;

  cursor: pointer;

  animation-name: rotate360;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu:hover {
  cursor: pointer;
}

.logo {
  width: 6rem !important;
  cursor: pointer;
  z-index: 10;
}

.authedUser {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 0.7rem;
  font-size: 0.8em;
}

.linkTextInactive,
.linkTextActive {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 0.7rem;
  font-size: 0.8em;
  transition: color 0.3s ease-in-out; /* adjust the time as needed */
}

.linkTextInactive::after,
.linkTextActive::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -1px;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out; /* adjust the time as needed */
}

.linkTextInactive::after {
  width: 0;
}

.linkTextActive::after {
  width: 30%;
}

.linkTextInactive:hover::after,
.linkTextActive:hover::after {
  width: 30%;
}

.linkTextInactive:hover {
  color: #9b9b9b;
}
